In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("job_dataset.csv")

In [5]:
df

,job_title,company,job_location,job_summary,post_date,today,job_salary,job_url
0,Technology Lead : Data Science I Machine Learning,Infosys Limited,"Bengaluru, Karnataka",A day in the life of an Infoscion • As part of...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1,"Software Engineer, Machine Learning",Google,"Bengaluru, Karnataka",2 years of relevant work experience in machine...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2,Experienced Over The Shoulder Mechanic- C17,BOEING,"Remote in Air Force Station, Karnataka",This position will focus on supporting the Boe...,PostedPosted 3 days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3,Data Scientist,Infosys Limited,"Bengaluru, Karnataka",Anchor ML development track in a client projec...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4,Python Developer,Infosys Limited,"Bengaluru, Karnataka",Should have a decent understanding of the Mach...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
...,...,...,...,...,...,...,...,...
1578,Learning Integration-Analyst/Senior Analyst,Deloitte,"Bengaluru, Karnataka",Experience with data visualization software su...,PostedPosted 6 days ago,2022-07-26,NaN,https://in.indeed.com/rc/clk?jk=6b93b48dc96688...
1579,Business Analyst,Shri Ramswaroop Digital Technologies Pvt. Ltd.,"Lucknow, Uttar Pradesh",Lead efforts to gather and analyze data requir...,EmployerActive 4 days ago,2022-07-26,"₹20,000 a month",https://in.indeed.com/company/Shri-Ramswaroop-...
1580,Research Analyst - Central Events (Hybrid),Janes,"Bengaluru, Karnataka","Linking millions of assured data points, Janes...",PostedPosted 20 days ago,2022-07-26,"₹6,00,000 a year",https://in.indeed.com/company/Janes/jobs/Resea...
1581,Program Research Analyst – Sustainable Cities ...,WRI India,"Mumbai, Maharashtra",Design and implement quantitative and qualitat...,PostedPosted 18 days ago,2022-07-26,"₹8,00,000 - ₹9,00,000 a year",https://in.indeed.com/rc/clk?jk=9dfb216af07f4f...
1582,Data Analyst,Angara E-Commerce Pvt Ltd,"Jaipur, Rajasthan",Analyze website data to determine areas of sit...,EmployerActive 19 days ago,2022-07-26,"₹3,00,000 - ₹6,00,000 a year",https://in.indeed.com/company/Angara-E--Commer...

In [6]:
df["job_title"].value_counts()[80:90]

Senior Data Analyst - Data Engineering/Analytics          2
Research Science Analyst _Global Banking Pool_Gurugram    2
ESG Data Analyst                                          2
Data Integrity - Analyst                                  2
Senior Specialist - Data Science                          2
Associate Test Engineer                                   2
Data Engineer 1                                           2
Computer Vision Specialist                                2
Security Analyst                                          2
Junior Business Analyst                                   2
Name: job_title, dtype: int64

In [7]:
df_new=df[~(df["job_title"]=="Business Analyst") |(df["job_title"]=="Data Engineer")|(df["job_title"]=="Software Engineer")|(df["job_title"]=="Java Developer")|(df["job_title"]=="Full Stack Developer")|(df["job_title"]=="Quality Analyst")|(df["job_title"]=="Risk Analyst")|(df["job_title"]=="Customer Service Representative")|(df["job_title"]=="Research Analyst")|(df["job_title"]=="Operations Analyst")|(df["job_title"]=="Financial Analyst")|(df["job_title"]=="Data Operations Associate")|(df["job_title"]=="Data Management Analyst")|(df["job_title"]=="Roster for Data Unit Lead")|(df["job_title"]=="Technical Writer")|(df["job_title"]=="Software Engineer II")|(df["job_title"]=="QA Analyst")|(df["job_title"]=="VOIP Expert")|(df["job_title"]=="Data Engineer 1")]

In [8]:
df_new

,job_title,company,job_location,job_summary,post_date,today,job_salary,job_url
0,Technology Lead : Data Science I Machine Learning,Infosys Limited,"Bengaluru, Karnataka",A day in the life of an Infoscion • As part of...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1,"Software Engineer, Machine Learning",Google,"Bengaluru, Karnataka",2 years of relevant work experience in machine...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2,Experienced Over The Shoulder Mechanic- C17,BOEING,"Remote in Air Force Station, Karnataka",This position will focus on supporting the Boe...,PostedPosted 3 days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3,Data Scientist,Infosys Limited,"Bengaluru, Karnataka",Anchor ML development track in a client projec...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4,Python Developer,Infosys Limited,"Bengaluru, Karnataka",Should have a decent understanding of the Mach...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
...,...,...,...,...,...,...,...,...
1577,Business Analyst-Business Intelligence,"Netrika, Consulting and Investigations","Gurgaon, Haryana",Training for the above profile would be provid...,PostedPosted 13 days ago,2022-07-26,NaN,https://in.indeed.com/rc/clk?jk=d011550a43c8fd...
1578,Learning Integration-Analyst/Senior Analyst,Deloitte,"Bengaluru, Karnataka",Experience with data visualization software su...,PostedPosted 6 days ago,2022-07-26,NaN,https://in.indeed.com/rc/clk?jk=6b93b48dc96688...
1580,Research Analyst - Central Events (Hybrid),Janes,"Bengaluru, Karnataka","Linking millions of assured data points, Janes...",PostedPosted 20 days ago,2022-07-26,"₹6,00,000 a year",https://in.indeed.com/company/Janes/jobs/Resea...
1581,Program Research Analyst – Sustainable Cities ...,WRI India,"Mumbai, Maharashtra",Design and implement quantitative and qualitat...,PostedPosted 18 days ago,2022-07-26,"₹8,00,000 - ₹9,00,000 a year",https://in.indeed.com/rc/clk?jk=9dfb216af07f4f...
1582,Data Analyst,Angara E-Commerce Pvt Ltd,"Jaipur, Rajasthan",Analyze website data to determine areas of sit...,EmployerActive 19 days ago,2022-07-26,"₹3,00,000 - ₹6,00,000 a year",https://in.indeed.com/company/Angara-E--Commer...

In [9]:
df_new=df_new.reset_index()

In [21]:
a=df_new["job_summary"][0]
print(a)

A day in the life of an Infoscion • As part of the Infosys delivery team, your primary role would be to interface with the client for quality assurance, issue…

In [11]:
print('Number of Rows: {}'.format(df_new.shape[0]))
print('Number of Columns: {}'.format(df_new.shape[1]))

Number of Rows: 1544
Number of Columns: 9

In [12]:
df_new.shape

(1544, 9)

In [13]:
df_new["job_summary"][1]

'2 years of relevant work experience in machine learning software development and architectures for machine learning (with focus on deep learning).'

In [14]:
job_titles_to_exclude = ["Software Engineer", "Java Developer"]
df_filtered = df[~df["job_title"].isin(job_titles_to_exclude)]
df_filtered = df_filtered.reset_index(drop=True)
print(df_filtered.head())

                                           job_title          company  \
0  Technology Lead : Data Science I Machine Learning  Infosys Limited
1                Software Engineer, Machine Learning           Google
2        Experienced Over The Shoulder Mechanic- C17           BOEING
3                                     Data Scientist  Infosys Limited
4                                   Python Developer  Infosys Limited

                             job_location  \
0                    Bengaluru, Karnataka
1                    Bengaluru, Karnataka
2  Remote in Air Force Station, Karnataka
3                    Bengaluru, Karnataka
4                    Bengaluru, Karnataka

                                         job_summary  \
0  A day in the life of an Infoscion • As part of...
1  2 years of relevant work experience in machine...
2  This position will focus on supporting the Boe...
3  Anchor ML development track in a client projec...
4  Should have a decent understanding of the Mach...

                   post_date       today job_salary  \
0  PostedPosted 30+ days ago  2022-07-26        NaN
1  PostedPosted 30+ days ago  2022-07-26        NaN
2    PostedPosted 3 days ago  2022-07-26        NaN
3  PostedPosted 30+ days ago  2022-07-26        NaN
4  PostedPosted 30+ days ago  2022-07-26        NaN

                                             job_url
0  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4  https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...

In [15]:
df_new

,index,job_title,company,job_location,job_summary,post_date,today,job_salary,job_url
0,0,Technology Lead : Data Science I Machine Learning,Infosys Limited,"Bengaluru, Karnataka",A day in the life of an Infoscion • As part of...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1,1,"Software Engineer, Machine Learning",Google,"Bengaluru, Karnataka",2 years of relevant work experience in machine...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2,2,Experienced Over The Shoulder Mechanic- C17,BOEING,"Remote in Air Force Station, Karnataka",This position will focus on supporting the Boe...,PostedPosted 3 days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3,3,Data Scientist,Infosys Limited,"Bengaluru, Karnataka",Anchor ML development track in a client projec...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4,4,Python Developer,Infosys Limited,"Bengaluru, Karnataka",Should have a decent understanding of the Mach...,PostedPosted 30+ days ago,2022-07-26,NaN,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
...,...,...,...,...,...,...,...,...,...
1539,1577,Business Analyst-Business Intelligence,"Netrika, Consulting and Investigations","Gurgaon, Haryana",Training for the above profile would be provid...,PostedPosted 13 days ago,2022-07-26,NaN,https://in.indeed.com/rc/clk?jk=d011550a43c8fd...
1540,1578,Learning Integration-Analyst/Senior Analyst,Deloitte,"Bengaluru, Karnataka",Experience with data visualization software su...,PostedPosted 6 days ago,2022-07-26,NaN,https://in.indeed.com/rc/clk?jk=6b93b48dc96688...
1541,1580,Research Analyst - Central Events (Hybrid),Janes,"Bengaluru, Karnataka","Linking millions of assured data points, Janes...",PostedPosted 20 days ago,2022-07-26,"₹6,00,000 a year",https://in.indeed.com/company/Janes/jobs/Resea...
1542,1581,Program Research Analyst – Sustainable Cities ...,WRI India,"Mumbai, Maharashtra",Design and implement quantitative and qualitat...,PostedPosted 18 days ago,2022-07-26,"₹8,00,000 - ₹9,00,000 a year",https://in.indeed.com/rc/clk?jk=9dfb216af07f4f...
1543,1582,Data Analyst,Angara E-Commerce Pvt Ltd,"Jaipur, Rajasthan",Analyze website data to determine areas of sit...,EmployerActive 19 days ago,2022-07-26,"₹3,00,000 - ₹6,00,000 a year",https://in.indeed.com/company/Angara-E--Commer...

In [16]:
df_new["job_title"].value_counts()[0:20]

Data Analyst                   200
Data Scientist                  57
Machine Learning Engineer       32
Data Engineer                   25
Computer Vision Engineer        19
Senior Data Analyst             17
Data Science Trainer            10
Data Science                     8
Data science                     8
Sr. Data Analyst                 6
Data Science/Data Analytics      6
Software Engineer                6
Java Developer                   5
Power BI Developer               5
ML Engineer                      5
Data Science Engineer            5
Data Analytics                   5
Data Analyst Intern              4
Full Stack Developer             4
Quality Analyst                  4
Name: job_title, dtype: int64